@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared Styles */
:root {
  --primary-color: #4e47ff;
  --secondary-color: #252432;
  --text-white: #fff;
}

.btn-primary {
  font-size: 16px;
  padding: 16px 38px;
  background-color: var(--primary-color);
  color: var(--text-white);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

/* Main Styles */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #f5f8ff;
  color: var(--secondary-color);
}
header {
  background: url(/Assets/Hero-bg.png) no-repeat center / cover;
  min-height: 700px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
nav .logo {
  font-size: 34px;
  font-family: 'Inter';
  font-weight: 800;
  color: var(--primary-color);
}
.banner {
  padding: 158px 30px;
  text-align: center;
}
.banner-heading {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 37px;
}

/* Main Sections*/
.see-action-sec {
  margin: 116px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.see-action-sec-content {
  max-width: 517px;
}
.see-action-sec-content h3 {
  color: var(--secondary-color);
  font-size: 42px;
  font-weight: bold;
}
.see-action-sec-content p {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin: 23px 0;
}
.see-action-sec-img img {
  border-radius: 60px;
}
/* Show User Section */
.show-user {
  background-color: #e5e7ff;
  padding: 50px 80px;
  border-radius: 30px;
}
.show-user-heading {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}
.show-user-counters {
  display: flex;
  justify-content: space-around;
}
.show-user-counter {
  font-family: 'Inter';
  text-align: center;
  margin-top: 50px;
}
.counter-heading {
  color: var(--primary-color);
  font-size: 80px;
  font-weight: bold;
}
.counter-name {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
/* Feedback Section */
.feedback {
  margin: 137px 0;
  font-family: 16px;
  font-family: 'Inter';
}
.feedback-heading {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}
.feedback-items {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 50px;
}
.feedback-item {
  background-color: #fff;
  padding: 24px;
  border-radius: 10px;
  border: 2px solid #f2eded;
}
.stars {
  display: flex;
  gap: 5px;
}
.feedback-details {
  margin: 24px 0;
}
.details-heading {
  font-size: 24px;
  margin-bottom: 8px;
}
.author {
  display: flex;
  gap: 12px;
}
.author-img img {
  border-radius: 50%;
}
.author-date {
  color: rgba(37, 36, 50, 0.5);
}
